NODE_ENV=development

HOST=0.0.0.0
PORT=4000

LOG_LEVEL=info

DATABASE_URL="postgresql://postgres:lostsudo123@localhost:5432/student_record_system_dev?schema=public"

JWT_ACCESS_SECRET=secureaccesssecretkey
JWT_REFRESH_SEECRET=securerefreshsecretkey
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
